#inpCommunityDiscription {
    border: #9274B2 1px solid;
    border-radius: 20px;
    margin-top: 3%;
    width: 35vh;
    padding: 15px;
    color: black;
    direction: rtl;
    font-size: 14px;
}

#btnCreateCommunity {
    background-color: #9274B2;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 25%;
}